# Terraform
.terraform/
*.tfstate
*.tfstate.*
# .terraform.lock.hcl NÃO deve ser ignorado — commite junto com o código

# Lambda
*.zip

# Node
node_modules/

# AWS
*.pem

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
